.rectangle-gauche {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(
        to right,
        #7C90AD,
        #435B7B
    );
    background-color: black;
    border-radius: 15px;
    z-index: 2;
}
.logo {
    position: fixed;
    top: 15px;
    left: 25px;
    width: 200px;
    height: 200px;
    z-index: 3;
}
.binou30 {
    position: fixed;
    top: 200px;
    left: 60px;
    color: #E4E4E4;
    z-index: 3;
}
.presentation {
    position: fixed;
    color: #E4E4E4;
    top: 260px;
    left: 20px;
    z-index: 3;
    line-break: auto;
    text-align: center;
}
body {
    position: relative;
    margin-left: 260px;
    background: linear-gradient(
        to left,
        #0D1B2B,
        #1C263D
    );
    background-color: black;
    font-family: sans-serif;
}
.txts {
    color: #E4E4E4;
}
footer {
    padding: 10px;
    color: #E4E4E4;
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0D1B2B;
}
::-webkit-scrollbar-thumb {
    background: #4f4e53;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #797880;
}
